.parent{
    width: 700px;
    height: 500px;
    border: solid blue 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.child{
    width: 100px;
    height: 100px;
    border: solid red 5px;
}