.parent{
    width: 700px;
    height: 600px;
    border: solid blue 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.child{
    width: 100px;
    height: 100px;
    border: solid red 5px;
}