@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');






* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    width: 295px;
    height: 460px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-bottom: 14px;
    padding-top: 20px;
}

#qr-code {
    width: 265px;
    border-radius: 10px;
}

#text1 {
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}






























































/* 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif; 
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    width: 293px;
    height: 455px;
    padding-bottom: 20px;
    padding-top: 15px;
}


#qr-code{
    width: 261px;
    height: 265px;
    border-radius: 12px;
}

#text2{
    font-weight: 400;
    color: hsl(216, 15%,48%)
    
} */