* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.box {
    width: 200px;
    height: 150px;
    background: green;
    position: relative;
}

.pirveli {
    width: 130px;
    height: 105px;
    background:cadetblue;
    position: absolute;
    left: 30px;
    top: 25px;
}

.meore {
    width: 70px;
    height: 70px;
    background: orange;
    position: absolute;
    left: 0;
    top: 0;
}